<html>
    <head>
        <%include ../layout/headerUser%>
    </head>
    <body>
            <div class="box-body table-responsive col-md-8 col-md-offset-2">           
        <h3> events List </h3>
        <table  class="table table-bordered table-hover tablecontainer">
            <thead>
                <tr><th>id</th><th>title</th><th>speakername</th><th>otherSpeakers</th><th> Audience </th><th></th></tr>
            </thead>
            <tbody>
                <% data.forEach((event)=>{ %>                                                                                                 <!-- //first <%= event.mainSpeakerId%>                          -->
                <tr><td> <%= event._id%></td><td> <%= event.title%></td><td> <%= event.mainSpeaker.name%></td>
                    <td> <ul>
                        <%event.otherSpeakers.forEach((elm)=>{%>
                           <li> <%= elm.name%></li>
                        <%})%>
                        </ul>
                    </td>

                    <td>
                         
                     
                        <select name="mainspeaker" class="form-control select2">
                                <option selected="selected"> List of Audience </option>
                                <% event.otherusers.forEach((elm1)=>{%>
                                    <option value="<%=elm1.name%>" selected><%=elm1.name%></option>
                                <%})%>
                            </select> 

                    </td>
         
                    <td><a href="/events/AddToEvent/<%= event._id%>" class="btn btn-danger">Add to event</a>
                                
            <%})%>
           
          
        </tbody>
       </table>
       </div>


        <br/><%include ../layout/footer%>
    </body>
</html>